<div id="benefSec" class="container-fluid benefits d-flex flex-column justify-content-center my-2">
    <div class="row d-flex flex-column my-5">
        <div class="col-xl-8 col-12 d-flex justify-content-center heading5 my-4">The key benefits of using our app</div>
        <div class="col-xl-5 col-12 d-flex justify-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
    </div>
    <div class="row d-flex justify-content-around">
        <div class="col-xl-6 col-10 d-flex my-xl-0 my-5">
            <img style="width: 100%;" src="../../../../assets/Images/placeholder--image@2x.png" />
        </div>
        <div class="col-xl-5 col-10 d-flex flex-column justify-content-around align-items-center my-xl-0 my-5 ">
            <div class="my-xl-0 my-2">
                <div class="heading1">Efficient Patient Management</div>
                <div class="w-75">Your solution streamlines the process of managing patient information. You can
                    easily add
                    patient sheets, including their personal details, medical history, and ophthalmic examination
                    results. This
                    centralized system ensures that all patient data is organized and easily accessible whenever
                    needed.</div>
            </div>
            <div class="my-xl-0 my-2">
                <div class="heading1">Improved Accuracy and Reliability</div>
                <div class="w-75">By digitizing patient records, you minimize the risk of errors and loss of
                    information that
                    can occur with manual paper-based systems. Our solution provides a secure and reliable platform
                    for storing,
                    retrieving, and updating patient data, ensuring accuracy and integrity of the information.</div>
            </div>
            <div class="my-xl-0 my-2">
                <div class="heading1">Accessibility and Security</div>
                <div class="w-75">Our system provides controlled access to patient records, ensuring that only
                    authorized
                    personnel can view and modify sensitive information. This helps maintain patient confidentiality
                    and comply
                    with privacy regulations such as HIPAA. Additionally, authorized users can access patient data
                    remotely,
                    allowing for flexibility and convenience.</div>
            </div>
        </div>
    </div>
</div>