#benefSec{
  padding-bottom: 6rem;
}
.benefits {
    background-image: url("../../../../../src/assets/Images/blurrygradienthaikei-1.svg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    z-index:10 !important;
    position:relative !important;
  }
  .heading5 {
    color: white;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .heading1 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 140%;
    font-weight: 700;
    font-family: inherit;
  }