<div class="contaner-fluid p-4">
    <div class="container-fluid">
        <div class="editProfile">Subscription Managment</div>
        <div class="card m-2 rounded-4 py-2 d-flex align-items-center">
            
            <div class="col-12 d-flex justify-content-center py-3 rounded-4 my-3">
                <div class="col-4 px-5">
                    <div class="smHeaders">Plan</div>
                    <div class="xlBody">{{planDetails.planDescription}}</div>
                </div>
                <div class="col-4 px-5">
                    <div class="smHeaders">Payment</div>
                    <div class="xlBody">{{planDetails.totalSubscriptionPrice}}<span class="smHeaders ps-2">{{planDetails.currencyDescription}} /month</span></div>
                </div>
                <div class="col-2 px-5">
                    <div class="smHeaders">Status</div>
                    <div *ngIf="!planDetails.isExpired" class="badge text-bg-success px-3 mt-3">Active</div>
                    <div *ngIf="planDetails.isExpired" class="badge text-bg-danger px-3 mt-3">Expired</div>
                </div>
            </div>

            <div class="hLine"></div>

          <div class="row col-12 d-flex justify-content-center px-4">
            <div class="font-sans col-6 my-3">
                <div class="d-flex justify-content-start editProfile py-2 fs-4">Adds On : </div>
                    <table class="min-w-full divide-y divide-gray-200">
                      <thead class="bg-gray-100 whitespace-nowrap">
                        <tr>
                          <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider col-3">
                            Features
                          </th>
                          <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider col-3">
                            Quantity
                          </th>
                          <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider col-3">
                            Price
                          </th>
                          <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider col-3">
                            Actions
                          </th>
                        </tr>
                      </thead>
              
                      <tbody class="bg-white divide-y divide-gray-200 whitespace-nowrap">
                        <tr>
                          <td class="px-4 py-4 text-sm text-gray-800 col-3">
                            Number Of Doctor
                          </td>
                          <td class="px-12 py-4 text-sm text-gray-800 col-3">
                            <!-- <div class="input-group w-50">
                                <button class="btn btn-outline-secondary" type="button"
                                   
                                    >-</button>
                                <input #quantityInputF1 type="text" value="1" class="form-control inputs" aria-label="Quantity"
                               readonly>
                                <button class="btn btn-outline-secondary" type="button"
                                    
                                   >+</button>
                            </div> -->

                            5
                          </td>
                          <td class="px-4 py-4 text-sm text-gray-800 col-3">
                            200 LE
                          </td>
                          <td class="px-4 py-4 text-sm text-gray-800 col-3">
                            <button class="btn btn-secondary">Add</button>
                          </td>
                        </tr>
    
                        <tr>
                            <td class="px-4 py-4 text-sm text-gray-800 col-3">
                              Number Of Doctor
                            </td>
                            <td class="px-12 py-4 text-sm text-gray-800 col-3">
                              <!-- <div class="input-group w-50">
                                  <button class="btn btn-outline-secondary" type="button"
                                     
                                      >-</button>
                                  <input #quantityInputF1 type="text" value="1" class="form-control inputs" aria-label="Quantity"
                                 readonly>
                                  <button class="btn btn-outline-secondary" type="button"
                                      
                                     >+</button>
                              </div> -->

                              2
                            </td>
                            <td class="px-4 py-4 text-sm text-gray-800 col-3">
                              200 LE
                            </td>
                            <td class="px-4 py-4 text-sm text-gray-800 col-3">
                              <button class="btn btn-secondary">Add</button>
                            </td>
                          </tr>
    
                      </tbody>
                    </table>
                  </div>
    
                  <div class="font-sans col-6 my-3">
                    <div class="d-flex justify-content-start editProfile py-2 fs-4">Adds On List: </div>
                        <table class="min-w-full divide-y divide-gray-200">
                          <thead class="bg-gray-100 whitespace-nowrap">
                            <tr>
                              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider col-3">
                                Features
                              </th>
                              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider col-3">
                                Quantity
                              </th>
                              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider col-3">
                                Status
                              </th>
                              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider col-3">
                                Actions
                              </th>
                            </tr>
                          </thead>
                  
                          <tbody class="bg-white divide-y divide-gray-200 whitespace-nowrap">
                            <tr>
                              <td class="px-4 py-4 text-sm text-gray-800 col-3">
                                Number Of Doctor
                              </td>
                              <td class="px-12 py-4 text-sm text-gray-800 col-3">
                                10
                              </td>
                              <td class="px-4 py-4 text-sm text-gray-800 col-3">
                                <span class="badge bg-danger">Pending</span>
                              </td>
                              <td class="px-4 py-4 text-sm text-gray-800 col-3">
                                <button class="btn btn-secondary">Add</button>
                              </td>
                            </tr>
        
                            <tr>
                                <td class="px-4 py-4 text-sm text-gray-800 col-3">
                                  Number Of Doctor
                                </td>
                                <td class="px-12 py-4 text-sm text-gray-800 col-3">
                                  12
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-800 col-3">
                                  <span class="badge bg-success">Invoiced</span>
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-800 col-3">
                                  <button class="btn btn-secondary">Add</button>
                                </td>
                              </tr>
        
                          </tbody>
                        </table>
                      </div>
          </div>
        </div>
    </div>
</div>