<div class="container-fluid">
    <div class="row pageheight">
        <div class="col-7 d-flex flex-column justify-content-center">
            <div class="d-flex flex-column justify-content-center align-items-center mb-5">
                <div class="header">MIDDLE EAST</div>
                <div class="headerslogn">OPHTHALMIC CLINICS</div>
            </div>
            <div>
                <h1 class="signIn">Sign in</h1>
                <div class="signInSlogn">Nice to see you again</div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center row py-5">
                <form (ngSubmit)="handleSignIn(signInForm)" [formGroup]="signInForm"
                    class=" d-flex flex-column align-items-center justify-content-center my-2">
                    <div class="mb-3 col-7">
                        <div *ngIf="!isLoading" class="input-group">
                            <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                            <input formControlName="userNameOrEmailAddress" type="email" class="form-control rmoveShadow" id="email"
                                placeholder="Enter your UserName">
                        </div>
                        @if(signInForm.get('userNameOrEmailAddress')?.touched){
                            @if(signInForm.get('userNameOrEmailAddress')?.hasError('required')){
                            <span style="color: red;">UserName Is Require</span>}
                        }
                    </div>
                    <div *ngIf="!isLoading" class="mb-3 col-7">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                            <input formControlName="password" type="{{togglePassword ? 'text': 'password'}}" class="form-control rmoveShadow" id="password"
                                placeholder="Enter your password">
                            <button class="btn btn-outline-secondary" type="button">
                                <i class="bi bi-eye" (click)="toggleShowPassword()"></i>
                            </button>
                        </div>
                        @if(signInForm.get('password')?.touched){
                            @if(signInForm.get('password')?.hasError('required')){
                            <span style="color: red;">Password Is Require</span>}
                        }
                    </div>
                    <ng-container *ngIf="signInForm.get('password')?.hasError('required') || signInForm.get('userNameOrEmailAddress')?.hasError('required'); else signInButton">
                        <button *ngIf="!isLoading" type="submit" class="btn signinbtn col-7" disabled>Sign In</button>
                    </ng-container>
                    <ng-template #signInButton>
                        <button *ngIf="!isLoading" type="submit" class="btn signinbtn col-7">Sign In</button>
                    </ng-template>
                    <div *ngIf="isLoading" class="spinner-border" role="status" style="color: #034C81;">
                    </div>
                    <hr class="mt-2"/>

                </form>
                <button type="submit" class="btn googlebtn d-flex justify-content-center align-items-center col-7">
                    <svg class="mx-2" width="21" height="21" viewBox="0 0 21 21" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20.3684 10.7281C20.3693 10.0466 20.3113 9.3664 20.195 8.69482H10.6992V12.546H16.138C16.0267 13.1611 15.7911 13.7475 15.4455 14.2697C15.0999 14.792 14.6513 15.2393 14.1269 15.5848V18.0846H17.3728C19.2734 16.3444 20.3684 13.771 20.3684 10.7281Z"
                            fill="#4285F4" />
                        <path
                            d="M10.6997 20.5C13.4169 20.5 15.7049 19.6139 17.3733 18.0862L14.1274 15.5864C13.2239 16.1947 12.0604 16.5419 10.6997 16.5419C8.07328 16.5419 5.84408 14.7836 5.04693 12.4143H1.70312V14.9906C2.5412 16.6467 3.82629 18.0389 5.41494 19.0118C7.00358 19.9847 8.83324 20.4999 10.6997 20.5Z"
                            fill="#34A853" />
                        <path
                            d="M5.04686 12.4139C4.62543 11.1723 4.62543 9.82781 5.04686 8.58627V6.01001H1.70305C0.998032 7.40321 0.630859 8.94083 0.630859 10.5001C0.630859 12.0593 0.998032 13.5969 1.70305 14.9901L5.04686 12.4139Z"
                            fill="#FBBC04" />
                        <path
                            d="M10.6997 4.45879C12.1356 4.43549 13.5231 4.97429 14.5623 5.95872L17.4362 3.10469C15.6139 1.40488 13.1996 0.471659 10.6997 0.500656C8.83324 0.500741 7.00358 1.01598 5.41494 1.98886C3.82629 2.96174 2.5412 4.35397 1.70312 6.0101L5.04693 8.58636C5.84408 6.21704 8.07328 4.45879 10.6997 4.45879Z"
                            fill="#EA4335" />
                    </svg>
                    Sign in with Google</button>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="my-3"><a href="" style="color: #034C81;">Forgot your password?</a></div>
                <div>Don't have an account?<a routerLink="/register" style="color: #034C81;"> Sign Up</a></div>
            </div>
        </div>
        <div id="eyeBackground" class="col-5"></div>
    </div>
</div>