#FeaturesSec{
  padding-top: 13rem;
  padding-bottom: 13rem;
}
.OurFeature {
    color: #02455A;
    text-align: center;
    font-family: Roboto;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .Effort {
    color: var(--Black, #000);
    font-family: Roboto;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 700;
  }
  
  .textEffort {
    color: #02455A;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 66%;
  }