#sect1 {
    height: 89.9vh;
    color:#fff;
    background-image: url("../../../../../src/assets/Images/saa.png") !important;
    background-size: cover;
    position: relative;
    background-size:cover;
    background-attachment:fixed;
    z-index:10 !important;
    position:relative !important;
  }
.SimpleHeader {
    text-align: center;
    width: 45%;
    color: #ffffff;
    font-family: Roboto;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
  }
  .SimpleDetails {
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    width: 33%;
  }
  .button {
    align-items: center;
    justify-content: center;
    border-radius: 1.3rem;
    background: #02455A;
    color: white;
  }
