<div id="sect1" class="d-flex flex-column justify-content-center align-items-center relative">
    <div class="d-flex justify-content-center align-items-center SimpleHeader col-12 mb-5 col-12">
        A simple and effective solution to manage your clinics
    </div>
    <div class="SimpleDetails col-12">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s,
    </div>
    <div class="button btn mt-5 col-2 p-3" routerLink="/Plans">Get Started</div>
</div>