.middle-east {
    font-weight: 600;
    color: #02455A;
  }
  
  .ophthalmic-clinics {
    font-size: 0.85rem;
  }
  
  .logo {
  
    font-size: 1.54rem;
  }
  
  .eg-icon {
    width: 1.31rem;
    height: 0.94rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .eg-icon,
  .egypt,
  .vector-icon {
    position: relative;
  }
  
  .vector-icon {
    width: 0.79rem;
    height: 0.45rem;
  }
  
  .country {
    position: absolute;
    top: 0.75rem;
    left: 74.69rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .link {
    font-weight: 600;
  }
  
  .tabs {
    justify-content: flex-start;
    gap: var(--gap-30xl);
    font-size: var(--font-size-xl);
    color: var(--color-steelblue);
  }
  
  .icon-relume {
    width: 1.5rem;
    position: relative;
    height: 1.5rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .button {
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #02455A;
    color: white;
  }
  .navbar {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #9BA5B7;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: white;
    z-index: 1000;
  }
  .main-content {
    padding-top: 80px;
  }
  .circular_image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .nav-pills .nav-item .nav-link.active {
    background-color: #E3F5FE;
    color: #02455A;
    font-weight: bold;
  }
  .active{
    background-color: #E3F5FE !important;
    font-weight: bold;
  }
  .form-select:focus{
    box-shadow: none !important;
  }