<div class="contaner-fluid p-4">
    <div class="container-fluid">
        <div class="PlanProfile">Plan & Billing</div>
        <div *ngFor="let sub of subscriptions; let i = index" class="card m-2 rounded-4 py-2">
            <div class="col-12 d-flex justify-content-center py-3">
                <div class="col-3 px-5">
                    <div class="smHeaders">Plan</div>
                    <div class="xlBody">{{sub.planName}}</div>
                </div>
                <div class="col-3 px-5">
                    <div class="smHeaders">Payment</div>
                    <div class="xlBody">LE {{sub.totalSubscriptionPrice}} </div>
                    <!-- <span class="smHeaders"> /month</span> -->
                </div>
                <div *ngIf="sub.isInvoiced == true" class="col-2 d-flex align-items-center">
                    <div class="badge text-bg-success px-3">Invoiced</div>
                </div>
                <div *ngIf="sub.isInvoiced == false" class="col-2 d-flex align-items-center">
                    <div class="badge text-bg-danger px-3">pending</div>
                </div>
                <div *ngIf="sub.isInvoiced == false" class="col-2 d-flex justify-content-center align-items-center">
                    <div class="me-4 btn" style="color: red;" (click)="showDelete(sub.subscriptionId, i)">Delete Subscription</div>
                </div>
                <div *ngIf="sub.isInvoiced == true" class="col-2 d-flex justify-content-center align-items-center">
                    <div class="me-4 btn" style="color: green;" (click)="getThisReceipt(sub)">Show Receipt</div>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center" *ngIf="sub.isInvoiced == true">
                    <i class="bi bi-check-lg" style="color: green; font-size: 2rem;"></i>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center" *ngIf="sub.isInvoiced == false">
                    <button class="btn" style="background-color: #E3F5FE;" (click)="paySubscription(sub, i)">Pay Now</button>
                </div>
            </div>
        </div>
    </div>
</div>