.editProfile {
    font-size: 2rem;
    font-weight: 600;
    color: #02455A;
}
.circular_image {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
  }
.imgReq{
    font-weight: 500;
    font-size: 1.2rem;
}
.imgRole{
    font-size: .9rem;
    opacity: .9;
}
.saveEdit {
    align-items: center;
    justify-content: center;
    border-radius: 1.3rem;
    background: #02455A;
    color: white;
  }
  .active-user {
    background-color: green;
    color: white;
    /* Add more styles as needed */
  }