.ReceiptsProfile {
    font-size: 2rem;
    font-weight: 600;
    color: #02455A;
}

.smHeaders {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #959BA4;
}

.xlBody {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #02455A;
}

.logo {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 600;
    color: #02455A;
}

.slogen {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 700;
    color: #02455A;
}

.opacityHeaders {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #868DA6;
}

.headerPrice {
    font-family: Roboto;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 28.84px;
    color: #19213D;
}

.userName {
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 600;
    color: #19213D;
}

.invDetails {
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 14.1px;
    letter-spacing: 0.04em;
    color: #263238;
}

.invoiceHeaderDetails {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 11.75px;
    letter-spacing: 0.04em;
}

.invoiceBodyDetails {
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 16.45px;
}
.border-radius-top {
    background-color: #F6F8FC;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom: 1px solid #02455A;
  }
  /* div{
    border: 1px solid #191919;
  } */