<div id="difSec" class="container-fluid d-flex justify-content-center align-items-center">
  <div class="row d-flex justify-content-around">
    <div class="col-xl-4 col-10 d-flex justify-content-center flex-column my-xl-0 my-5">
      <h1 class="heading mb-5">What makes our app different than others</h1>
      <div class="subheading-text mb-3 col-12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Suspendisse varius enim in eros elementum tristique. Duis
        cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
        commodo diam libero vitae erat.
      </div>
      <div class="btn LearnMoreBtn">
        Learn More
      </div>
    </div>
    <div class="col-xl-5 col-10 d-flex justify-content-xl-end justify-content-center align-items-center my-xl-0 my-5">
      <img class="boximage" loading="eager" alt="" src="../../../../assets/Images/Image.png" />
    </div>
  </div>
</div>