<div id="sect2" class="container-fluid d-flex justify-content-center flex-column">
  <div class="row">
    <div class="col-12 py-5">
      <div class="how-it-work d-flex justify-content-center">
        How it work
      </div>
      <div class="how-it-work-details d-flex justify-content-center my-3 px-3">
        orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum h
      </div>
    </div>
    <div class="col-12 d-flex flex-wrap justify-content-center py-5">
      <div class="col-xl-2 col-12 d-flex justify-content-center flex-column align-items-center my-xl-0 my-5">
        <div>
          <img class="group-child" alt="" src="../../../../assets/Images/group-34.svg" />
        </div>
        <div class="feature-Header py-3">
          Add Patient
        </div>
        <div class="this-feature-empowers">
          Add new patients to your practice directly through the app,
          streamlining the patient onboarding process and enhancing the
          overall efficiency of your practice.
        </div>
      </div>
      <div class="col-2 d-xl-block d-none">
        <img class="group-item" alt="" src="../../../../assets/Images/vector-6.svg" />
      </div>
      <div class="col-xl-2 col-12 d-flex justify-content-center flex-column align-items-center my-xl-0 my-5">
        <div>
          <img class="group-child" alt="" src="../../../../assets/Images/group-35.svg" />
        </div>
        <div class="feature-Header py-3">
          Add Patient Sheet
        </div>
        <div class="this-feature-empowers">
          This feature empowers you to seamlessly attach and access
          patient-specific sheets directly within the app, revolutionizing the
          way you store, retrieve, and analyze critical patient data.
        </div>
      </div>
      <div class="col-2 d-xl-block d-none">
        <img class="group-item" alt="" src="../../../../assets/Images/vector-6.svg" />
      </div>
      <div class="col-xl-2 col-12 d-flex justify-content-center flex-column align-items-center my-xl-0 my-5">
        <div>
          <img class="group-child" alt="" src="../../../../assets/Images/group-36.svg" />
        </div>
        <div class="feature-Header py-3">
          Print Reports
        </div>
        <div class="this-feature-empowers">
          this feature offers a seamless solution for creating comprehensive,
          professional, and visually appealing patient reports that can be
          easily printed and shared.
        </div>
      </div>
    </div>
  </div>
</div>