#ContactusSec{
    padding-top: 3rem;
    padding-bottom: 10rem;
}
.OurFeature {
    color: #02455A;
    font-family: Roboto;
    font-size: 2.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .OurFeatureDetails{
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
  #conSec{
    margin-top: 3rem;
  }
  .svgBG{
    background-image: url("../../../../assets/Images/Vectorbg.png");
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 100%;
  }