<div id="askedSec" class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center justify-content-center freqsec">
            <div class="FrequentlyHeader px-xl-0">Frequently asked questions</div>
            <div class="FrequentlyDetails w-xl-50 w-75 mt-3">LFrequently asked questions ordered by popularity. Remember
                that if
                the visitor has not committed to the
                call to action, they may still have questions (doubts) that can be answered.</div>
        </div>
        <div class="row d-flex justify-content-center freqsec">
            <div class="d-flex justify-content-center align-items-center col-xl-6 col-12">
                <mat-accordion class="d-flex flex-column justify-content-center">
                    <div class="line d-flex justify-content-center align-items-center"></div>
                    <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-description>
                                Question text goes here
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque esse repudiandae ducimus
                            veritatis, dignissimos quos dolore tempore repellendus molestias itaque, est praesentium
                            placeat porro? Quam veritatis maxime sequi amet quaerat!
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum alias natus voluptate dolorem,
                            minima amet, distinctio nostrum unde sapiente, dignissimos voluptatum doloribus. Nisi,
                            perspiciatis dicta? Ducimus, molestiae eum? Quidem, culpa?
                        </p>
                    </mat-expansion-panel>
                    <div class="line d-flex justify-content-center align-items-center"></div>
                    <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-description>
                                Question text goes here
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                    <div class="line d-flex justify-content-center align-items-center"></div>
                    <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-description>
                                Question text goes here
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                    <div class="line d-flex justify-content-center align-items-center"></div>
                    <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-description>
                                Question text goes here
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                    <div class="line d-flex justify-content-center align-items-center"></div>
                </mat-accordion>

            </div>
            <div class="d-flex justify-content-center align-items-center col-xl-6 col-12">
                <mat-accordion class="d-flex flex-column">
                    <div class="line d-flex justify-content-center align-items-center"></div>
                    <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-description>
                                Question text goes here
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                    <div class="line d-flex justify-content-center align-items-center"></div>
                    <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-description>
                                Question text goes here
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                    <div class="line d-flex justify-content-center align-items-center"></div>
                    <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-description>
                                Question text goes here
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                    <div class="line d-flex justify-content-center align-items-center"></div>
                    <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-description>
                                Question text goes here
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                    <div class="line d-flex justify-content-center align-items-center"></div>
                </mat-accordion>
            </div>
        </div>
        <div class="col-12 d-flex flex-column align-items-center justify-content-center ">
            <div class="FrequentlyHeader">Still have questions?</div>
            <div class="FrequentlyDetails w-50 mt-3">Support details to capture customers that might be on the fence.
            </div>
            <button class="btn LearnMoreBtn px-3 py-2 my-4">
                Call us +2012 8987 4578
            </button>
        </div>
    </div>
</div>