<div class="contaner-fluid p-4">
    <div class="container-fluid">
        <div class="ReceiptsProfile">Receipts</div>
        <div *ngIf="isloading">
        <div *ngIf="isRecept" class="card m-2 rounded-4 py-2 d-flex align-items-center">
            <div *ngFor="let Rpt of Receipts; let i = index" class="col-10">
                <div  class="d-flex justify-content-center py-3 rounded-4 my-3" style="background-color: #E3F5FE;cursor: pointer;">
                    <div class="col-4 px-5">
                        <div class="smHeaders">Plan</div>
                        <div class="xlBody">{{Rpt.planDescription}}</div>
                    </div>
                    <div class="col-4 px-5">
                        <div class="smHeaders">Payment</div>
                        <div class="xlBody">{{Rpt.totalSubscriptionPrice}}<span class="smHeaders ps-2">{{Rpt.currencyDescription}} /month</span></div>
                    </div>
                    <div class="col-1 d-flex align-items-center justify-content-center">
                        <div *ngIf="!Rpt.isExpired" class="badge text-bg-success px-3">Active</div>
                        <div *ngIf="Rpt.isExpired" class="badge text-bg-danger px-3">Expired</div>
                    </div>
                    <div class="col-2 d-flex align-items-center justify-content-center">
                        <div class="fw-bold" style="color:#02455A;"  (click)="getThisReceipt(Rpt)">Receipt Details</div>
                    </div>
                    <div *ngIf="Rpt.subscriptionAddsOn.length > 0" class="col-1 d-flex align-items-center justify-content-center">
                        <i class="bi bi-caret-down-fill" (click)="toggle(i)"></i>
                    </div>
                    <div *ngIf="Rpt.subscriptionAddsOn.length < 1" class="col-1 d-flex align-items-center justify-content-center">
                        <i class="bi bi-caret-down"></i>
                    </div>
                </div>
                <div *ngIf="expandedIndex === i">
                <div *ngFor="let adds of Rpt.subscriptionAddsOn" class="col-12 d-flex flex-column justify-content-center my-2 rounded-4" style="cursor: pointer; width: 95%;background-color: rgb(247, 247, 247);">
                    <div class="d-flex justify-content-center align-items-center" (click)="getThisReceipt(adds)">
                        <div class="col-4 px-5">
                            <div class="smHeaders">{{adds.planDescription}}</div>
                            <div class="xlBody">1</div>
                        </div>
                        <div class="col-4 px-5">
                            <div class="smHeaders">Payment</div>
                            <div class="xlBody">21<span class="smHeaders ps-2">321</span></div>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <!-- <div *ngIf="!Rpt.isExpired" class="badge text-bg-success px-3">Active</div>
                            <div *ngIf="Rpt.isExpired" class="badge text-bg-danger px-3">Expired</div> -->
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <div class="fw-bold" style="color:#02455A;">Receipt Details</div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div *ngIf="!isRecept" class="card m-2 rounded-4 py-2 d-flex align-items-center" style="height: 80vh;">
            <i class="bi bi-receipt" style="font-size: 20rem;opacity: .5;"></i>
            <div class="xlBody pb-4">No Receipts Yet</div>
        </div>
        </div>
        <div *ngIf="!isloading"  class="d-flex justify-content-center align-items-center" style="height: 50vh;">
            <div class="spinner-border" role="status" style="color: #034C81;">
            </div>
        </div>
    </div>
</div>
