.ReceiptsProfile{
    font-size: 2rem;
    font-weight: 600;
    color: #02455A;
}
.smHeaders {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #959BA4;
}

.xlBody {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #02455A;
}
.smBody {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #02455A;
}
.borderasasa{
    border: .5px solid grey;
}
/* div{
    border: 1px solid gray;
} */