<div id="footerSec" class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <div class="col-4 ps-5">
               <div class="mainFooter"> Middle East</div>
               <span>OPHTHALMIC CLINICS</span>
            </div>
            <div class="col-8 d-flex justify-content-end pe-5">
                <div class="mx-3 col-4">
                    <input type="search" class="form-control" id="Search" placeholder="Search...">
                  </div>
                <button class="btn btn-primary px-5 subbtn">Subscripe</button>
            </div>
        </div>
        <div class="d-flex justify-content-center py-2">
            <div class="line my-3 d-flex"></div>
        </div>
    </div>
    <div class="row d-flex justify-content-center pb-4">
        <div class="col-11 d-flex">
            <div class="col-3 d-flex flex-column">
                <span class="mb-3 columnHead">Column One</span>
                <a>one one</a>
                <a>two one</a>
                <a>three one</a>
                <a>four one</a>
                <a>five one</a>
            </div>
            <div class="col-3 d-flex flex-column">
                <span class="mb-3 columnHead">Column One</span>
                <a>one one</a>
                <a>two one</a>
                <a>three one</a>
                <a>four one</a>
                <a>five one</a>
            </div>
            <div class="col-3 d-flex flex-column">
                <span class="mb-3 columnHead">Column One</span>
                <a>one one</a>
                <a>two one</a>
                <a>three one</a>
                <a>four one</a>
                <a>five one</a>
            </div>
            <div class="col-3 d-flex flex-column">
                <span class="mb-3 columnHead">Join Us</span>
                <div class="d-flex">
                <i class="bi bi-youtube px-3"></i>
                <i class="bi bi-facebook px-3"></i>
                <i class="bi bi-twitter px-3"></i>
                <i class="bi bi-instagram px-3"></i>
                <i class="bi bi-linkedin px-3"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center py-2">
        <div class="line my-3 d-flex"></div>
    </div>
</div>