#footerSec{
    background-color: #02455A;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}
#Search{
    height: 3rem;
}
.mainFooter{
font-family: Roboto;
font-size: 2rem;
font-weight: 600;
}
.subbtn{
    height: 3rem;
}
.line {
    width:90%;
    border-bottom: 1px solid #ffffff;
    opacity: .7;
  }
.columnHead{
    font-size: 1.2rem;
    font-weight: 600;
}